<mat-toolbar color="accent">
    <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="drawer.toggle()"
     >
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <span>Mailing Label Generator</span>
    <!-- <button mat-button *ngIf="!loggedIn" (click)="logInClicked()">Login</button>
    <button mat-button *ngIf="loggedIn" (click)="logOutClicked()">Logout</button> -->
  
  </mat-toolbar>


  <mat-sidenav-container class="sidenav-container dark-theme">
      <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
          [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
          [mode]="(isHandset$ | async) ? 'over' : 'side'"
          [opened]="!(isHandset$ | async)">
          <div id="inputs">

            <mat-form-field>
                <mat-select placeholder="Buffer distance" [(value)]="distance">
                  <mat-option *ngFor="let distance of distances" [value]="distance.value">
                    {{distance.label}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <p></p>
  
              <app-label-maker [labels]="labels" ></app-label-maker>
              <p></p>

          </div>
            <div id="labels">
              <div *ngFor="let label of labels">
                <div>{{label.OWNER}}</div>
                <div>{{label.ADDR1}}</div>
                <div>{{label.ADDR2}}</div>
                <div>{{label.ADDR3}}</div>
                <p></p>
        
              </div>
            </div>
      </mat-sidenav>
      <mat-sidenav-content>
          <app-map
          [distance]="distance"
          [center]="mapCenter"
          [basemap]="basemapType"
          [zoom]="mapZoomLevel">
        </app-map>
      </mat-sidenav-content>
    </mat-sidenav-container>

    