.sidenav-container {
  height: 100%;

}

.sidenav {
  max-width: 90%;
  width: 500px;
  top:64px !important;
  padding:1em;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}


#inputs {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #424242;
  
}
#labels {
  z-index: -1;
}

