<mat-form-field>
  <mat-select placeholder="Label template" [(value)]="template">
    <mat-option *ngFor="let template of config" [value]="template">
      <span *ngIf="template.descriptionPDF">{{template.descriptionPDF.widthLabelIn}}''x{{template.descriptionPDF.heightLabelIn}}'' ({{template.descriptionPDF.labelsPerPage}}/page)</span>
      <span *ngIf="template.text === 'Export CSV'">{{template.text}}</span>

    </mat-option>
  </mat-select>
</mat-form-field>
<br/>
<button mat-raised-button color="primary" (click)="export()" [disabled]="_labels.length < 1">Download</button>
<a #exportCsv _target="_blank" download="mailing_labels.csv"></a>
